* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main {
  height: 100vh;
  width: 100%;
  background-color: #90ee90;
}

.navbar {
  height: 75px;
  max-width: 2460px;
  width: 100%;
  position: fixed;
  background-color: #90ee90;
  z-index: 1;
}

.navitems {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-size: 28px;
  list-style-type: none;
  height: auto;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 3rem;
  padding-top: 20px;
}

.navitems li {
  cursor: pointer;
  transition: all 0.5s;
  border-bottom: 5px solid transparent;
  border-radius: 6px;
}

.navitems li:last-child {
  border-bottom: 5px solid black;
}

.navitems li:hover {
  border-bottom: 5px solid black;
}

.interior {
  padding-top: 80px;
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.search {
  position: relative;
  height: 50px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.searchBar {
  height: 80%;
  max-width: 450px;
  width: 60%;
  border-radius: 50px 0 0 50px;
  background-color: #daffda;
  color: #1a431a;
  font-size: 20px;
  font-family: "Nunito", sans-serif;
  font-weight: 700;
  padding-left: 20px;
}

.searchBar:focus {
  outline: 2px solid green;
}
.searchButton {
  height: 80%;
  width: 60px;
  border-radius: 0 50px 50px 0;
  position: relative;
  left: -1px;
  font-size: 14px;
  font-weight: bolder;
  font-family: "Nunito", sans-serif;
  cursor: pointer;
  transition: all 0.5s;
  color: #daffda;
  background-color: #1a431a;
}

.range {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.recipesNeededNumber {
  background-color: #daffda;
  color: #1a431a;
  height: 25px;
  width: 65px;
  border-radius: 50px;
  padding-left: 10px;
  font-family: "Nunito", sans-serif;
  font-size: 14px;
  font-weight: bolder;
}

.searchResults {
  margin-top: 10px;
}

.recipeResults {
  font-family: "Nunito", sans-serif;
}
.data {
  height: 100%;
  width: 100%;
  background-color: #90ee90;
  padding: 30px 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

.dataItems {
  background-color: #90ee90;
  height: 100%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 1.75rem;
  justify-content: center;
  margin: 0 30px 0 30px;
}

.upArrow {
  height: 50px;
  width: 50px;
  position: fixed;
  bottom: 20px;
  right: 10px;
  z-index: 1;
  font-size: 36px;
  font-family: monospace;
  border-radius: 50px;
  background-color: rgba(0, 0, 0, 0.855);
  color: #90ee90;
  border: 1px solid rgba(0, 0, 0, 0.855);
  cursor: default;
  opacity: 0;
  transition: all 0.5s;
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background-color: #90ee90;
  border: 2px solid rgba(0, 0, 0, 0.623);
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.855);
  border-radius: 10px;
}

@media screen and (max-width: 420px) {
  .search {
    padding-left: 30px;
  }
  .searchBar {
    width: 70%;
    margin-right: 18px;
  }
  .searchButton {
    left: -20px;
  }
  .upArrow {
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 34px;
    padding-bottom: 5px;
    font-weight: 700;
    right: 0;
  }
}
